
<%= form_tag("/brewer_update", method: "patch") do %>
  <p>Brew Update</p>
  <%= label_tag(:number, "FV Number") %>
  <%= number_field_tag(:number) %><br>
  <%= label_tag(:gyle, "Gyle Number") %>
  <%= number_field_tag(:gyle) %><br>
  <%= label_tag(:brand, "Brand") %>
  <%= text_field_tag(:brand) %><br>
  <%= label_tag(:volume, "Volume") %>
  <%= number_field_tag(:volume) %><br>
  <%= submit_tag("Update") %>
<% end %>
