
<%= form_for @tank, :url => {:action => "brewer_update"}, :html => {:id => "brew_update_form"}, :method => "patch", remote: true do |f|%>
  <p>Brew Update</p>
  <%= f.hidden_field(:tank_type, :value => "FV") %>
  <%= f.label(:number, "FV Number") %>
  <%= f.number_field(:number, :required => true) %><br>
  <%= f.label(:gyle, "Gyle Number") %>
  <%= f.number_field(:gyle, :required => true) %><br>
  <%= f.label(:brand, "Brand") %>
  <%= f.text_field(:brand, :required => true) %><br>
  <%= f.label(:volume, "Volume") %>
  <%= f.number_field(:volume, :required => true) %><br>
  <%= f.submit("Update") %>
<% end %>
