
<%= form_for @tank, :url => {:action => "cellar_update"}, :method => "patch", remote: true do |f|%>
  <p>Cellar Update</p>
  <%= f.select :tank_type, [["FV", "FV"],["BBT", "BBT"]] %>
  <%= f.label(:number, "Number") %>
  <%= f.number_field(:number, :required => true) %><br>
  <%= f.label(:status, "Dirty") %>
  <%= f.radio_button(:status, "Dirty" ) %><br>
  <%= f.label(:status, "Clean") %>
  <%= f.radio_button(:status, "Clean" ) %><br>
  <%= f.label(:status, "Sanitized") %>
  <%= f.radio_button(:status, "Sanitized" ) %><br>
  <%= f.label(:initials, "Initials") %>
  <%= f.text_field(:initials, :required => true) %><br>
  <%= f.submit("Update") %>
<% end %>
