
<%= form_for @tank, :url => {:action => "cellar_update"}, :html => {:id => "cellar_update_form"}, :method => "patch", remote: true do |f|%>
  <p>Cellar Update</p>
  <%= f.select :tank_type, [["FV", "FV"],["BBT", "BBT"]] %>
  <%= f.label(:number, "Number") %>
  <%= f.number_field(:number, :required => true) %><br>
  <%= f.label(:status, "dirty") %>
  <%= f.radio_button(:status, "dirty" ) %><br>
  <%= f.label(:status, "clean") %>
  <%= f.radio_button(:status, "clean" ) %><br>
  <%= f.label(:status, "sanitized") %>
  <%= f.radio_button(:status, "sanitized" ) %><br>
  <%= f.label(:initials, "Initials") %>
  <%= f.text_field(:initials, :required => true) %><br>
  <%= f.submit("Update") %>
<% end %>
