
<%= form_tag("/package_update", method: "patch") do %>
  <p>Overide Tank</p>
  <%= label_tag(:number, "FV Number") %>
  <%= number_field_tag(:number, nil, :required => true) %><br>
  <%= label_tag(:volume, "Volume") %>
  <%= number_field_tag(:volume, nil, :required => true) %><br>
  <%= label_tag(:brand, "Brand") %>
  <%= text_field_tag(:brand, nil, :required => true) %><br>
  <%= label_tag(:gyle, "Gyle") %>
  <%= number_field_tag(:gyle, nil, :required => true) %><br>


  <%= submit_tag("Update") %>
<% end %>
