
<%= form_for @tank, :url => {:action => "overide"}, :html => {:id => "overide_form"}, :method => "patch", remote: true do |f|%>
  <p>Overide Tank</p>
  <%= f.label(:number, "FV Number") %>
  <%= f.number_field(:number, :required => true) %><br>
  <%= f.label(:volume, "Volume") %>
  <%= f.number_field(:volume, :required => true) %><br>
  <%= f.label(:brand, "Brand") %>
  <%= f.text_field(:brand, :required => true) %><br>
  <%= f.label(:gyle, "Gyle") %>
  <%= f.number_field(:gyle, :required => true) %><br>


  <%= f.submit("Update") %>
<% end %>
