
<%= form_tag("/package_update", :id => "package_update_form", method: "patch", remote: true) do %>
  <p>Package Update</p>
  <%= hidden_field_tag("tank[tank_type]", "BBT") %>
  <%= label_tag(:number, "BBT Number") %>
  <%= number_field_tag("tank[number]", nil, :required => true) %><br>
  <%= label_tag(:volume, "Volume") %>
  <%= number_field_tag("tank[volume]") %><br>
  <%= label_tag(:refill, "refill") %>
  <%= check_box_tag("tank[refill]", true) %><br>

  <%= submit_tag("Update") %>
<% end %>
