<h1>Tank Page</h1>

<% @tanks.each do |tank| %>
  <div class="d-inline-block">
    <p><%= tank.tank_type %><%= tank.number %><br><%= tank.status%></p>
    <% case tank.status %>
    <% when "Sanitized" %>
      <% type = 'success' %>
    <% when "Clean" %>
       <% type = 'info' %>
    <% when "Dirty" %>
       <% type = 'danger' %>
    <% else %>
         <% type = '' %>
    <% end %>

    <%= image_tag('fv.png', class: "bg-#{type}")%>
  </div>
<% end %><br>

<div class="bottom">
  <div class="d-inline-block">
    <div class='card'>
      <%= render "brew_update_form" %>
    </div>
  </div>

  <div class="d-inline-block">
    <div class='card'>
      <%= render "cellar_update_form" %>
    </div>
  </div>

  <div class="d-inline-block">
    <div class='card'>
      <%= render "transfer_update_form" %>
    </div>
  </div>


  <div class="d-inline-block">
    <div class='card'>
      <%= render "package_update_form" %>
    </div>
  </div>

  <div class="d-inline-block">
    <div class='card'>
      <%= render "overide_form" %>
    </div>
  </div>
  <div class="d-inline-block">
    <div class='card'>
      <p>Key</p>
      <p class="text-info">Clean</p>
      <p class='text-success'>Sanitized</p>
      <p class='text-danger'>Dirty</p>
    </div>
  </div>
  <p>* put BBT before BBT Number, ex: BBT5</p>
</div>
