<h1>Tank Page</h1>

<% @tanks.each do |tank| %>
  <p><%= tank.tank_type %><%= tank.number %><br><%= tank.status%></p>

<% end %>
<div class="d-inline-block">
  <%= render "brew_update_form" %>
</div>

<div class="d-inline-block">
  <%= render "cellar_update_form" %>
</div>
