
<% if @tanks.any? %>
  <% @tanks.each do |tank| %>
    <div id="tank<%= tank.id %>"<%= render 'tank', :tank => tank %>
  <% end %><br>
<% else %>
  <h1>Tank Page</h1>
<% end %>

<div class="bottom">
  <div class="d-inline-block">
    <div class='card'>
      <%= render "brew_update_form" %>
    </div>
  </div>

  <div class="d-inline-block">
    <div class='card'>
      <%= render "cellar_update_form" %>
    </div>
  </div>

  <div class="d-inline-block">
    <div class='card'>
      <%= render "transfer_update_form" %>
    </div>
  </div>


  <div class="d-inline-block">
    <div class='card'>
      <%= render "package_update_form" %>
    </div>
  </div>

  <div class="d-inline-block">
    <div class='card'>
      <%= render "overide_form" %>
    </div>
  </div>
  <div class="d-inline-block">
    <div class='card'>
      <p>Key</p>
      <p class="text-info">clean</p>
      <p class='text-success'>sanitized</p>
      <p class='text-danger'>dirty</p>
    </div>
  </div>
</div>
