<nav class="navbar navbar-dark bg-dark">
  <% if current_user %>

  <div class="nav-item dropdown mr-1">
    <a class="nav-link dropdown-toggle white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Acid Tracking
    </a>
    <div class="dropdown-menu" id="acid-dropdown" aria-labelledby="navbarDropdownMenuLink">
      <% if @tanks %>
        <% @tanks.each do |tank| %>
          <% if tank.tank_type === "FV" %>

            <% if needs_acid(tank.last_acid, 3) %>
              <% acid = "text-danger" %>
            <% end %>
            <p>
              FV<%= tank.number%> Last Acid: <span class="<%= acid %>"><%= tank.last_acid%></span>
              Update:   <%= form_tag("/acid_update", method: "patch") do %>
                          <%= hidden_field_tag(:number, tank.number) %>
                          <%= date_field_tag :last_acid, :required => true %>
                          <%= submit_tag("OK") %>
                        <% end %>
            </p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <a class="nav-link active" href="/">Tanks</a>
    <div class="nav-item dropdown ml-auto mr-3">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag(current_user.avatar.url(:thumb), :class => "avatar") %>
      </a>
      <div class="dropdown-menu dropdown-menu-sw" aria-labelledby="navbarDropdownMenuLink">
        <p class="custom">Signed in as <%= current_user.brewery.name %></p>
        <div class="dropdown-divider"></div>
        <%= link_to 'Edit Profile',edit_user_registration_path, :class => "dropdown-item" %>
        <%= link_to 'Add Tanks', new_tank_path, :class => "dropdown-item" %>
        <%= link_to 'Logout', destroy_user_session_path, :class => "dropdown-item", method: :delete %>

      </div>
  <% else %>
    <a class="navbar-brand ml-auto"><%= link_to 'Login', new_user_session_path %></a>
  <% end %>
  </div>
</nav>
