<!DOCTYPE html>
<html>
  <head>
    <title>TankTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/nav" %>

    <% flash.each do |key, value| %>
      <% case key %>
      <% when "notice" %>
        <% type = 'success' %>
      <% when "alert" %>
        <% type = 'danger' %>
      <% else %>
        <% type = 'primary' %>
      <% end %>
      <div class="alert alert-<%= type %>">
        <%= value %>
      </div>
    <% end %>
    
    <%= yield %>

  </body>
</html>
